<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iron.Assets.Rendering.Windows" version="20.0.0" targetFramework="net45" />
  <package id="IronPdf" version="2020.9.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.8" targetFramework="net45" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Spire.PDF" version="6.9.0" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
  <package id="VirtualizingWrapPanel" version="1.5.3" targetFramework="net45" />
</packages>